html {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex: 1;
}

.key {
    margin: 1rem;
    border: 0.4rem solid black;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    width: 10rem;
    transition: 100ms;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}


kbd {
    display: block;
    font-size: 3em;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.play {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}